@import "vars";

.back-drop {
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 3;
}

.login-dialog {
  position: absolute;
  top: $header-height;
  right: 0;
  padding: 10px;
  border: #333333;
  border-radius: 5px;
  background-color: white;
  z-index: 1000;
}

.error-message {
  margin-top: 10px;
  color: darkred;
}

.signup-form {
  padding: 10px;
}

